#!/usr/bin/make -f

# Use for debug building
export DH_VERBOSE=1

%:
	dh $@


override_dh_auto_build:
	python3.11 -m venv env
	env/bin/pip install pip tox -U
	env/bin/tox -e package

override_dh_compress:
	dh_compress --exclude=README.md
