#!/usr/bin/make -f

# Use for debug building
# export DH_VERBOSE=1

%:
	dh $@ --buildsystem=pybuild


override_dh_auto_build:
	tox -e package

override_dh_compress:
	dh_compress --exclude=README.md

override_dh_auto_clean:
	@echo Please dont fail

override_dh_python3:
	@echo Please dont python me

override_dh_auto_test:
	@echo Please dont python me
